@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Este projeto foi realizado no âmbito da cadeira de tecnologias da Internet 2 e visa facilitar os utentes
    na sua organização dando lhes conhecimento dos horários das cadeiras que estão inscritos.
</p>

<h2>Atenção</h2>

<h3>Acesso como admin</h3>

<p>
    User: adminsite@ipt.pt
</p>
<p>
    Pass:123_Asd
</p>
<h3>Acesso como aluno</h3>
<p>
    User:aluno@ipt.pt
</p>
<p>
    Pass:123_Asd
</p>

<address>
    <strong>Miguel Silva:</strong>   <a href="mailto:aluno18904@ipt.pt">aluno18904@ipt.pt</a><br />
    <strong>Pedro Vinha:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>