@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Miguel Silva:</strong>   <a href="mailto:aluno18904@ipt.pt">aluno18904@ipt.pt</a><br />
    <strong>Pedro Vinha:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>